<h7> 자 이제 게임을 시작하지. </h7>
<h7> 너는 배가 고프고 이제 메뉴를 골라야해. </h7>
<h7> 자, 이것을 먹는 것으로 게임을 시작하지. 그렇지 않으면 니 옆의 사람이 개똥을 밟을 것이다. </h7>

<hr>
<h1> <%= @today_food %> </h1>
<h1> <%= image_tag @today_food_image %> </h1>
<hr>

<a href="javascript:location.reload(true)"> 다시해볼까? </a>